* {
    margin: 5px;
}

body {
    background-image: url("../img/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    text-align: center;
}

.container .col {
    flex: 1 1 100%; /* By default, each column takes up 100% */
}

.col-12 {
    background: none;
}

.flex {
    display: flex;
}

.today {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    color: darkblue;
}

#btn,
#searchList button {
    background-color: rgb(56, 56, 222);
    color: white;
    margin-top: 10px;
}

#fiveDays p {
    background-color: rgba(109, 109, 205); 
    color: rgb(255, 255, 255); 
}

#fiveDays {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

/* Media Queries for responsiveness */

/* Large screens */
@media (min-width: 992px) {
    #fiveDays p {
        font-size: 18px;
        padding: 10px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    #fiveDays p {
        font-size: 16px;
        padding: 8px;
    }
}

/* Small screens */
@media (max-width: 767px) {
    #fiveDays p {
        font-size: 14px;
        padding: 6px;
    }

    .container {
        padding: 10px;
    }
}

@media (min-width: 600px) {
    .container .col {
        flex: 1 1 50%; /* On medium screens, columns take up 50% */
    }
}

@media (min-width: 900px) {
    .container .col {
        flex: 1 1 33%; /* On large screens, columns take up 33% */
    }
}